


<div class="peticiones">
  <div class="page-header">
    <h1>Información nutrimental</h1>
    <hr>
  </div>
<form class="form-peticiones" action="/dashboard/consulta_nutricion" method="post">
  <div class="form-control">
    <label for="txtConsulta">Ingredient List</label>
    <input type="text" name="txtConsulta" id="txtConsulta" required>
  </div>
  <div class="form-control">
    <label for="txtPorciones">Servings</label>
    <input type="text" name="txtPorciones" id="txtPorciones" required>
  </div>
  <div class="form-control">
   <input class="btn" type="submit" value="Consultar">
  </div>
</form>
</div>